
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


#header.fluid-row::before {
   content: "";
   height: 100px;
   width: 150px;
   float: right;
   background-image: url("images/ind-state-logo.png");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }
 
  /*------------- Whole Document---------------- */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}